@media(min-width: 2000px){
  html{
    font-size:140%;
  }
}
@media(min-width: 2400px){
  html{
    font-size:160%;
  }
}
@media(max-width:1000px){
  #about_us_content{
    width:90%;
  }
  h1{
    /* font-size: 76px; */
    font-size: 4.75rem;
    letter-spacing: 28px;
  }
  h3{
    /* font-size: 30px; */
    font-size: 2.125rem;
  }
  .top_menu_links_wrapper{
    width:60%;
  }
  .smaller_h{
    font-size:72px;
  }
  #section_3{
    background-size: cover;
  }
  .how_it_works_ol_item p{
   font-size:24px;
  }
  /* swaps to column view here */
  .top_menu_links_wrapper{
    min-width:auto;
    width:90%;
  }
  .section_2_btn_area{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
  }
  .section_2_btn_wrapper{
    max-width:90%;
    width: 90%;
    margin-bottom: 60px;
  }
  #section_3{
    background-position: top center;
    justify-content: center;
  }
  .section_3_content{
    width:96%;
    margin: 0 2%;
  }
  /* opportunities to tablet view */
  .op_div{
    flex-direction: column;
  }
  .op_div_left h4{
    margin-bottom: 30px;
  }
  .op_div_left,
  .op_div_right{
    width:auto;
    padding:0 2%;
  }
  html{
    font-size: 95%;
  }
}

@media(max-width:860px){
  h1,
  .section_1_content h1{
    font-size: 60px;
    letter-spacing: 18px;
  }
  /* h3{
    font-size: 26px;
  } */
  .smaller_h{
    font-size:54px;
    letter-spacing: 5px;
  }
  .how_it_works_ol_item p{
   font-size:18px;
  }
  html{
    font-size: 90%;
  }
}

@media(max-width:750px){
  /* about us to tablet view */
  .about_us_person{
    flex-direction: column;
    justify-content: center;
  }
  .about_person_img_wrapper{
    width:100%;
  }
  .about_person_text_wrapper{
    width:100%;
  }
  html{
    font-size: 85%;
  }
}

@media(max-width:675px){
  h1,
  .section_1_content h1{
    font-size: 40px;
    letter-spacing: 14px;
  }
  /* h3{
    font-size: 22px;
  } */
  .smaller_h{
    font-size:38px;
    letter-spacing: 4px;
  }
  html{
    font-size: 80%;
  }
}
@media(max-width:600px){
  .section_1_wrapper_reducer{
    width:90%;
  }
  .how_it_works_events_wrapper{
    flex-wrap:nowrap;
    flex-direction: column;
    align-items: center;
  }
  .event_list{
    width: 100%;
    margin-bottom: 40px;
  }
  .footer_left_div{
    margin: 10px 0 10px 5%;
    flex-direction:column;
    justify-content: center;
  }
  .footer_left_div img{
    margin:0 0 20px 0;
  }
  .footer_right_div{
    max-width: 50%;
    justify-content: center;
  }
  .social_icons{
    margin-bottom:20px;
  }
  .footer_right_div p{
    text-align: center;
  }
  html{
    font-size: 75%;
  }
}
@media(max-width:450px){
  h1,
  .section_1_content h1{
    font-size: 32px ;
    letter-spacing: 4px !important;
  }
  /* h3{
    font-size: 18px;
  } */
  .smaller_h{
    font-size:28px;
    letter-spacing: 3px;
  }
  #footer{
    flex-direction: column;
  }
  .footer_left_div{
    margin: 30px 0 50px 0;
    text-align: center;
  }
  .footer_right_div{
    margin-bottom: 30px;
    margin: 0 0 30px 0;
  }
  html{
    font-size: 70%;
  }
}
@media(max-width:400px){
  h1{
    /* font-size: 28px ; */
    letter-spacing: 2px !important;
  }
}


/* this is for front page section 3's weird header underline */
@media(max-width:1260px){
  .section_3_content h1{
    font-size: 72px;
  }
}
@media(max-width:1125px){
  .section_3_content h1{
    font-size: 60px;
  }
}
@media(max-width:800px){
  .section_3_content h1{
    font-size: 54px;
    letter-spacing: 6px;
  }
}
@media(max-width:630px){
  .section_3_content h1{
    font-size: 46px;
  }
}
@media(max-width:570px){
  .section_3_content h1{
    font-size: 38px;
  }
}
@media(max-width:460px){
  .section_3_content h1{
    font-size: 30px;
    margin-right: 0;
  }
}
@media(max-width:420px){
  .section_3_content h1{
    font-size: 24px;
  }
}
@media(max-width:300px){
  .section_3_content h1{
    font-size: 18px;
  }
}