	/* contents:
	#999900 Front Page
	#999902 About Us
	#999904 Contact Us
	#999906 Opportunities
	#999908 Faqs
	#009999 Header
	#029999 Footer
	#049999 Form Overrides
	#990099 Other Stuff
  */
  
@font-face {
  font-family: 'CollegiateBlackFLF';
  font-style: normal;
  font-weight: normal;
  src: local('fonts/CollegiateBlackFLF Regular'), url('fonts/CollegiateBlackFLF.woff') format('woff');
  }
/* font-family: 'Aleo', serif;
font-family: 'Oswald', sans-serif; */
*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
  color: white;
}
html{
  width:100vw;
  max-width:100vw;
  font-size: 100%;
}
body{
  background-color:#343434;
  text-align: center;
  overflow-x:hidden;
  width: 100%;
  max-width: 100vw;
}
button,
button:focus{
  background-color: transparent;
  border: none;
  outline:none;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
  display: block;
  width:100%;
  font-weight:normal;
  font-family: 'Oswald';
}
p{
  font-family: 'Aleo';
  /* font-size: 16px; */
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
h1{
  font-family: 'CollegiateBlackFLF';
  text-transform: uppercase;
  /* font-size: 90px; */
  font-size: 5.625rem;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 20px;
  text-align:center;
}
h3{
  font-family: 'Oswald';
  /* font-size: 36px; */
  font-size: 2.25rem;
  line-height: 1.2;
  letter-spacing: 1px;
}
.content_wrapper{
  width:100%;
  padding: 80px 2%;
  background-color: #efefef;
  display: flex;
  justify-content: center;
}
.content_holder{
  width:90%;
}
/*====== #999900 ========
Front Page, top section
======== #999900 ======*/

#section_1{
  background-image: url('images/section_1.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 100px 0;
}
.section_1_content{
  width:100%;
  padding: 0 2%;
  max-width: 100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
.section_1_content h1,
.section_2_content h1{
  /* margin-bottom:30px; */
  font-weight: 500;
  letter-spacing:55px;
  font-size: 6.25rem;
}
.down_arrow_link{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height:24px;
  margin-bottom:100px;
}
.down_arrow{
  background-image: url('images/down_arrow_white.png');
  background-size: contain;
  width:60px;
  height:24PX;
}
.section_1_content h3{
  margin-bottom: 18px;
  font-weight: 400;
}
.section_1_content p{
  margin-bottom: 45px;
}
.section_1_responsive_wrapper{
  width: 90%;
}
.section_1_wrapper_reducer{
  width:68%;
  margin: 0 auto;
}
/*====== #993300 ========
Section 2
======== #993300 ======*/

#section_2{
  background-image: url('images/section_2.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  padding: 110px 2% 110px 2%;
  
}
.section_2_content{
  width:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
.smaller_h{
  font-family: 'Oswald';
  text-transform: uppercase;
  /* font-size: 80px; */
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: 6.2px;
}
.section_2_content .flex_wrap_div{
  margin-bottom:30px;
}
.section_2_content .down_arrow{
  background-image: url('images/down_arrow_red.png')
}
.section_2_btn_area_heading{
  margin: 10px 2% 60px 2%;
  font-weight:400;
}
.section_2_btn_area{
  width:100%;
  padding: 0 2%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -ms-flex-pack:distribute;
      justify-content:space-around;
}
.section_2_btn_wrapper{
  max-width:32%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section_2_wrapper_reducer{
  width: 90%;
}

/*====== #993300 ========
Section 3
======== #993300 ======*/
#section_3{
  background-image: url('images/section_3.jpg');
  background-position: top left;
  background-position: -300px 0px;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 90px 0 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.section_3_content{
  width:70%;
}
.section_3_heading_wrapper{
  margin-bottom: 70px;
}
.section_3_content h1{
  width:auto;
  /* font-size: 80px; */
  font-size: 5rem;
  display: inline-block;
  letter-spacing: 10px;
  margin-right: 5%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33%, red), color-stop(0%, rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(left, red 33%, rgba(255,255,255,0) 0%);
  background-image: -o-linear-gradient(left, red 33%, rgba(255,255,255,0) 0%);
  background-image: linear-gradient(to right, red 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 20px 3px;
  background-repeat: repeat-x;
}
.how_it_works_ol_wrapper{
  width: 100%;
  padding: 0 2%;
  margin-bottom: 50px;
}
.how_it_works_ol_item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
  margin-bottom:24px;
}
.how_it_works_ol_item .ol_item_icon{
  width: 35px;
  height: 35px;
  background-image: url("images/number_square_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'CollegiateBlackFLF';
  /* font-size: 18px; */
  font-size: 1.125rem;
  margin-right: 26px;
}
.how_it_works_ol_item p{
  /* font-size: 28px; */
  font-size: 1.75rem;
  padding-right: 8%;
}
.how_it_works_events_wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}
.how_it_works_events_wrapper h4{
  font-family: 'Oswald';
  /* font-size: 24px; */
  font-size: 1.5rem;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom:14px;
}
.how_it_works_events_wrapper li{
  text-align: left;
  margin-left:15px;
  text-align: left;
  /* font-size: 16px; */
  font-size: 1rem;
  font-family: 'Aleo';
  /* line-height: 20px; */
  line-height:1.25rem;
  margin-bottom:8px;
}
.event_list{
  width:50%;
}
.event_ul{
  width:90%;
}

/*====== #999902 ========
  About Us Page
======== #999902 ======*/
#about_us_content{
  width:80%;
}
.about_us_person{
  display: flex;
  justify-content: space-between;
  margin-bottom:50px;
}
.about_person_img_wrapper{
  width: 34%;
}
.about_person_img_wrapper img{
  width: 100%;
  height: auto;
  padding: 0 20px 2px 20px;
}
.about_person_img_wrapper .social_icons{
  float:right;
  display: flex;
  justify-content: flex-end;
  margin-right:20px;
  visibility: hidden;
}
.about_person_img_wrapper .social_icons i{
  margin-left: 10px;
  /* font-size: 20px; */
  font-size: 1.25rem;
  color:#827f77;
}
.about_person_text_wrapper{
  width: 64%;
}
.about_person_text_wrapper h4{
  font-family: 'Oswald';
  /* font-size: 26px; */
  font-size: 1.625rem;
  font-weight:normal;
  color: #343434;
  text-align: left;
  margin-bottom:10px;
}
.about_person_text_wrapper p{
  color: #827f77;
  text-align: left;
}

/*====== #999904 ========
 Contact Us Page
======== #999904 ======*/
.contact_us_content{
  display: flex;
  justify-content: center;
}
.contact_form_heading h3{
  font-family: 'CollegiateBlackFLF';
  /* font-size: 32px; */
  font-size: 2rem;
  color:#000000;
  margin-bottom:20px;
}
.contact_form_heading p{
  color:#827f77;
}
/*====== #999906 ========
  Opportunities Page
======== #999906 ======*/
.opportunities_page_header h1{
  letter-spacing: 10px;
}
#opportunities_content .section_2_btn_area{
  margin-bottom:50px;
}
#opportunities_content .section_2_btn_area_heading{
  color: #000000;
}
#opportunities_content .section_2_wrapper_reducer p{
  color: #827f77;
}
.ball_grip{
  background-image: url('images/ball_grip.png');
  background-size: contain;
  width:104px;
  height:27PX;
  margin: 0 auto 110px auto;
}
.opportunities_wrapper{
  width:100%;
}
.op_div{
  width:100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 80px;
}
.op_div_left{
  display: inline-block;
  width:30%;
  height:100%;
}
.op_div_left h4{
  font-family: 'CollegiateBlackFLF';
  color: #343434;
  text-transform: uppercase;
  /* font-size: 30px; */
  font-size: 1.875rem;
  letter-spacing: 4px;
}
.op_div_right{
  display: inline-block;
  width:64%;
  height:100%;
  /* this margin */
  margin-left:20px;
}
.op_div_red_heading{
  font-family: 'Oswald';
  color: #ce1126;
  /* font-size: 20px; */
  font-size: 1.25rem;
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .5px;
  /* this is to match the margin-left */
  margin-left:-20px;
}
.op_div_right ol li{
  color: #000000;
  font-family: 'Oswald';
  /* font-size: 22px; */
  font-size: 1.375rem;
  margin-bottom:8px;
}
.op_div_right ul li,
.op_div_right p{
  color:#827f77;
  font-family: 'Aleo';
  margin-bottom:5px;
}
.op_div_right p{
  /* this is to match the margin-left */
  margin-left:-20px;
}
.op_example_heading{
  font-family: 'Oswald';
  /* font-size: 26px; */
  font-size: 1.625rem;
  color: #000000;
  /* this is to match the margin-left */
  margin-left:-20px;
}
.op_div_right .block{
  margin-bottom: 30px;
}
.op_arrow_before::before{
  content:'';
  display: inline-block;
  width:52px;
  height:14px;
  background-image: url('images/before_arrow.png');
  background-repeat: no-repeat;
  margin-top:2px;
}
/*====== #999908 ========
  FAQs Page
======== #999908 ======*/
#faqs_content{
  width:72%;
}
.faq_heading{
  color:#000000;
  /* font-size: 34px; */
  font-size:2.125rem;
  margin-bottom:80px;
}
.qa_section_wrapper{
  text-align:left;
}
.qa_block{
  margin-bottom:80px;
}
.qa_big_letter{
  font-family: 'CollegiateBlackFLF';
  /* font-size: 34px; */
  font-size: 2.125rem;
  font-weight: 900;
  color: #000000;
  padding-right:12px;
  display: inline-block;
  letter-spacing: 6px;
}
.qa_q{
  font-family: 'Oswald';
  /* font-size: 26px; */
  font-size: 1.625rem;
  color: #343434;
  display: inline-block;
  margin-bottom:10px;
}
.qa_a{
  font-family: 'Aleo';
  /* font-size: 16px; */
  font-size: 1rem;
  color:#827f77;
}
.nowrap{
  display: flex;
}
/*====== #009999 ========
Header
======== #009999 ======*/
#header_wrapper{
  height: 500px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: top center;
}
/* had to do like this since it's just static html */
#header_wrapper.about_page_header {
  background-image: url('images/about_us_header.jpg');
}
#header_wrapper.contact_page_header {
  background-image: url('images/contact_us_header.jpg');
}
#header_wrapper.opportunities_page_header {
  background-image: url('images/opportunities_header.jpg');
}
#header_wrapper.faqs_page_header {
  background-image: url('images/faqs_header.jpg');
}
#header_wrapper h1{
  line-height:2;
  padding-bottom: 50px;
}
#top_menu{
  width:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
.top_logo_wrapper{
  width:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  margin-bottom: 60px;
}
.top_logo_wrapper img{
  margin-top:30px;
  width:140px;
  height: auto;
  /* remove this when adding menu */
  /* margin-bottom:40px; */
}
.top_menu_links_wrapper{
  min-width: 450px;
  width:40%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-around;
  margin-bottom: 40px;
  /* remove margin-bottom from image above when you change this */
  /* display: none; */
}
.top_menu_links_wrapper a{
  margin:0 4px;
  font-family: 'Oswald';
  /* font-size: 22px; */
  font-size: 1.375rem;
}
@media(max-width: 800px){
  #header_wrapper{
    height: 50vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .top_logo_wrapper img{
    margin-top:10px;
  }
  .top_logo_wrapper{
    margin-bottom:10px;
  }
}

/*====== #029999 ========
Footer
======== #029999 ======*/
#footer{
  min-height:190px;
  background-color: #ce1126;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_left_div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin-left: 5%;
}
.footer_left_div img{
  height: 100%;
  width:auto;
  margin-right:40px;
}
.footer_left_div .address_title{
  font-family: 'CollegiateBlackFLF';
  /* font-size: 18px; */
  font-size:1.125rem;
}
.footer_left_div span{
    white-space: nowrap;
    text-align: left;
}
.footer_right_div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right:5%;
}
.social_icons{
  width:50%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color:red;
  visibility: hidden;
}
.footer_right_div i{
  /* font-size: 24px; */
  font-size: 1.5rem;
  margin:0 5% 0 0;
}
.footer_right_div p{
  text-align: right;
}
.footer_right_div .fa-copyright{
  /* font-size: 12px; */
  font-size: 0.75rem;
  margin:0;
}
.footer_clear{
  opacity: 0.7;
  /* font-size: 14px; */
  font-size: 0.875rem;
  font-weight:300;
}

/*====== #049999 ========
Form style overides, *some changes were made in the form.css
======== #049999 ======*/
.contact_form_wrapper{
  margin: 0 auto 40px auto;
  width:100%;
  max-width:600px;
}
.contact_form_wrapper form{
  width:100%;
  margin: 0 auto;
}
.contact_form_wrapper label{
  visibility: hidden;
}
.contact_form_wrapper input,
.contact_form_wrapper textarea{
  /* font-size:16px; */
  font-size: 1em;
  width:100%;
  border: none;
  padding: 13px 18px;
}
.contact_form_wrapper input:focus,
.contact_form_wrapper textarea:focus{
  outline:none;
  border:none;
}
.contact_form_wrapper #saveForm{
  width:auto;
  height:auto;
  font-family: 'CollegiateBlackFLF';
  font-weight: 400;
  background-color: #ce1126;
  border:4px solid white;
  padding: 14px 60px;
  /* font-size: 22px; */
  font-size: 1.375rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*====== #990099 ========
Other stuff
======== #990099 ======*/
.learn_btn,
.learn_btn:focus{
  display: inline-block;
  font-family: 'CollegiateBlackFLF';
  text-transform: uppercase;
  /* font-size: 18px; */
  font-size:1.125rem;
  letter-spacing: 0.9px;
  margin: 0 auto 10px auto;
  padding: 20px 40px;
  border: 2px solid white !important;
}
.red_btn,
.red_btn:focus{
  font-family: 'Oswald';
  /* font-size: 26px; */
  font-size: 1.625rem;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 4px;
  padding:10px 30px;
  background-color:#ce1126;
  text-decoration:none;
  margin-bottom:28px;
}
.block{
  width:100%;
  height:0;
  margin:0;
  display: block;
}
.section{
  width:100%;
  min-height:50vh;
}
.flex_wrap_div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}
.thanks{
  color:#343434;
}